<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
    <link rel="stylesheet" href="../stylesheets/css.css">
    <link rel="icon" type="image/png" href="../images/logo256.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body class="text-light">
    <nav class="navbar navbar-expand-lg navbar-dark custom-bg-dark">
        <a class="navbar-brand" href="/">
            <img src="../images/logo_nav.png" width="31" height="28" alt="">
            <span style="font-size: 12pt">Mappers' Guild</span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            {{#if loggedInAs}}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown {{#if isMaps}}active{{/if}}">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                        Maps
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/beatmaps">WIP/Pending</a>
                        <a class="dropdown-item" href="/ranked">Ranked</a>
                    </div>
                </li>
                <li class="nav-item dropdown {{#if isQuests}}active{{/if}}">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Quests</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/quests">Open/WIP</a>
                        <a class="dropdown-item" href="/questsarchive">Complete</a>
                    </div>
                </li>
                <li class="nav-item {{#if isParties}}active{{/if}}">
                    <a class="nav-link" href="/parties">Parties</a>
                </li>
                <li class="nav-item {{#if isUsers}}active{{/if}}">
                    <a class="nav-link" href="/users">Users</a>
                </li>
                <li class="nav-item {{#if isLogs}}active{{/if}}">
                    <a class="nav-link" href="/logs">Logs</a>
                </li>
                <li class="nav-item {{#if isFaq}}active{{/if}}">
                    <a class="nav-link" href="/faq">FAQ</a>
                </li>
            </ul>

            <span class="navbar-text">Logged in as {{loggedInAs}}</span>
            {{else}}
            <form class="ml-auto" action="/login" method="GET">
                <button class="btn btn-lg btn-mg btn-sm" type="submit">Log in</button>
            </form>
            {{/if}}
        </div>
    </nav>
    
    <div class="container">
        {{#unless isIndex}}
        <div>
            <img class="my-3 mx-auto d-block img-fluid" src="../images/logo256.png" width="100" height="100">
            <h1 class="text-center">{{title}}</h1>
        </div>
        {{/unless}}

        <div id="loading">
            <img id="load">
        </div>

        {{{body}}}
    </div>

    <footer class="text-center">
        <div style="font-size: 15pt" class="mb-3 guild-text">Mappers' Guild</div>
        <div style="height: 10px;" class="guild-section"></div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    {{#if script}}
        <script src="{{{script}}}"></script>
    {{/if}}
  </body>
</html>
