<div id="app">

<div id="createParty" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content custom-bg-dark">
            <div class="modal-header text-dark bg-done">
                <h5 class="modal-title" >Create party</h5>
                <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
                </button>
            </div>
            <div class="modal-body" style="overflow: hidden">
                <img src="../images/the_A.png" class="the-a-background">
                <div class="container">
                    <div class="form-group row">
                        <label class="col-sm-4" for="partyName"> Party name:</label><input class="col-sm-8 form-control" style="border-radius: 100px 100px 100px 100px" type="text" id="partyName" @keyup.enter="createParty">
                    </div>
                    <p class="mt-4 text-shadow">\{{ info }}</p>
                    <hr>
                    <button type="button" class="btn btn-mg float-right" @click="createParty">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Currently active parties <button class="btn btn-mg" data-toggle="modal" data-target="#createParty" v-if="!userPartyId" @click="newPartyInfo()">Create new party</button></h2>
        <small>Sort: 
            <a :class="sortBy === 'members' ? 'sorted' : ''" href="#" @click.prevent="sort('members')">Members</a> | 
            <a :class="sortBy === 'rank' ? 'sorted' : ''" href="#" @click.prevent="sort('rank')">Rank</a> | 
            <a :class="sortBy === 'createdAt' ? 'sorted' : ''" href="#" @click.prevent="sort('createdAt')">Created</a>
        </small>
        <div id="parties">
            <transition-group name="list" tag="div" class="row">
            <div class="col-md-6 my-2" :class="party.id + '-card'" v-for="party in parties" :key="party.id" @click="extendedInfo(party)">
                <div class="card custom-bg-dark party-card" :class="'border-rank-' + party.rank" :data-user="party.id" data-toggle="modal" data-target="#extendedInfo">
                    <img :class="party.id + '-card-image'" :src="party.art ? 'https://assets.ppy.sh/beatmaps/' + party.art + '/covers/cover.jpg' : 'https://osu.ppy.sh/images/layout/beatmaps/default-bg.png'" style="right:250px;"> 
                    <div class='card-img-overlay' style='padding: 0'>
                        <div class="card-header text-shadow">
                            <big :class="party.id + '-name'">\{{party.name}}</big>
                            <span v-if="userPartyId == party.id">
                                <button v-if="userId == party.leader.osuId && party.members.length == 1" class='btn btn-mg-used btn-sm justify-content-center float-right dynamic-membership' @click.stop="deleteParty($event)">Disband party</button>
                                <button v-else-if="userId == party.leader.osuId && party.members.length > 1" class='btn btn-mg-used btn-sm justify-content-center float-right dynamic-membership' @click.stop="leaveParty(party.id)" disabled>Leave party</button>
                                <button v-else class='btn btn-mg-used btn-sm justify-content-center float-right dynamic-membership' @click.stop="leaveParty(party.id, $event)">Leave party</button>
                            </span>
                            <span v-else-if="!userPartyId && !party.lock && !party.currentQuest && party.members.length < 12">
                                <button class='btn btn-mg btn-sm justify-content-center float-right join' @click.stop="joinParty(party.id)">Join party</button>
                            </span>
                        </div>
                        <div class="card-body overwrite-card-spacing">
                            <p class="card-text text-shadow">Members: (\{{party.members.length}})</p>
                            <p class="small indent text-shadow">
                                <template v-for="(member, i) in party.members"><a :href="'https://osu.ppy.sh/users/' + member.osuId" target="_blank">\{{ member.username + (i < party.members.length - 1 ? ', ' : '') }}</a></template>
                            </p>
                            <p class="card-text text-shadow" style='margin-top:0.5rem'>Leader: <a :href="'https://osu.ppy.sh/users/' + party.leader.osuId" target="_blank">\{{party.leader.username}}</a></p>
                            <p class="card-text text-shadow">Current Quest: 
                                <span class="party.id + '-quest'">
                                    \{{ party.currentQuest ? party.currentQuest.name : 'none' }}
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            </transition-group>
        </div>
    </div>
</div>

<div id="extendedInfo" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content custom-bg-dark" v-if="selectedParty">
            <div class="modal-header modal-header-card text-dark" :class="'bg-rank-' + selectedParty.rank">
                <h5 class="modal-title modal-title-card">\{{ selectedParty.name }}</h5>
                <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
                </button>
            </div>
            <div class="modal-body modal-body-card" style="overflow: hidden;">
                <img src="../images/the_A.png" class="the-a-background">
                <p class="text-shadow">Members: (<span :class="selectedParty.id + '-member-count'">\{{ selectedParty.members.length }}</span>)</p> 
                <p class="indent text-shadow">
                    <template v-for="(member, i) in selectedParty.members"><a :href="'https://osu.ppy.sh/users/' + member.osuId" target="_blank">\{{ member.username + (i < selectedParty.members.length - 1 ? ', ' : '') }}</a></template>
                </p>
                <p class="text-shadow">Leader: <a :href="'https://osu.ppy.sh/users/' + selectedParty.leader.osuId" target="_blank">\{{ selectedParty.leader.username }}</a></p>
                <p class="text-shadow">Rank: \{{ selectedParty.rank }}</p>
                <p class="text-shadow">
                    Current Quest: <span :class="selectedParty.id + '-quest'">\{{ selectedParty.currentQuest ? selectedParty.currentQuest.name : 'none' }}</span>
                </p>

                {{!-- leader options --}}
                <div v-if="userId == selectedParty.leader.osuId">
                    <hr>
                    <p class="text-shadow">Party leader options:</p>
                    <div class="input-group input-group-sm mb-3">
                        <input class="form-control form-control-sm" type="text" placeholder="New name..." id="newName" maxlength="32"
                            style="filter: drop-shadow(1px 1px 1px #000000); border-radius: 100px 0 0 100px;" 
                            @keyup.enter="rename($event)"></input>
                        <div class="input-group-prepend">
                            <button style="border-radius: 0 100px 100px 0;" class="btn btn-mg rename-button" @click="rename($event)" type="submit"><span class="append-button-padding">Save new name</span></button>
                        </div>
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <input class="form-control form-control-sm" type="text" placeholder="Beatmap set ID (banner = map bg)" id="banner" 
                            style="filter: drop-shadow(1px 1px 1px #000000); border-radius: 100px 0 0 100px" 
                            @keyup.enter="addBanner($event)"></input>
                        <div class="input-group-append">
                            <button style="border-radius: 0 100px 100px 0;" class="btn btn-mg banner-button" @click="addBanner($event)" type="submit"><span class="append-button-padding">Save banner</span></button>
                        </div>
                    </div>

                    <div v-if="selectedParty.members.length > 1">
                        <div class="input-group input-group-sm mb-3 kick-member-input">
                            <select class="custom-select select-arrow small" id="kick">
                                <option selected value="none">Select a user...</option>
                                <template v-for="member in selectedParty.members">
                                    <option :value="member.id" v-if="member.osuId !== userId">\{{member.username}}</option>
                                </template>
                            </select>
                            <div class="input-group-append">
                                <button style="border-radius: 0 100px 100px 0;" class="btn btn-mg-used kick-button" @click="kickMember($event)"><span class="append-button-padding">Kick</span></button>
                            </div>
                        </div>
                        <div class="input-group input-group-sm mb-3 transfer-leader-input">
                            <select class="custom-select select-arrow small" id="transfer">
                                <option selected value="none">Select a user...</option>
                                <template v-for="member in selectedParty.members">
                                    <option :value="member.id" v-if="member.osuId !== userId">\{{member.username}}</option>
                                </template>
                            </select>
                            <div class="input-group-append">
                                <button style="border-radius: 0 100px 100px 0;" class="btn btn-mg transfer-leader-button" @click="transferLeader($event)"><span class="append-button-padding">Transfer Leader</span></button>
                            </div>
                        </div>
                    </div>

                    <button 
                        class="btn btn-sm justify-content-center" 
                        :class="{ 'btn-mg': selectedParty.lock, 'btn-mg-used': !selectedParty.lock }" 
                        @click="switchLock($event)"
                    >
                        \{{selectedParty.lock ? 'Allow new members' : 'Disallow new members'}}
                    </button>
                </div>
                {{!-- end leader options --}}

                <hr>
                <div v-if="!(!userPartyId && !selectedParty.lock && !selectedParty.currentQuest && selectedParty.members.length <= 12) && userPartyId != selectedParty.id">
                    <p class="small text-shadow">You're unable to join this party because:</p>
                    <ul style="list-style-type: none" class="small text-shadow">
                        <li v-if="userPartyId">You can only be in one party at a time</li>
                        <li v-if="selectedParty.lock">The party's leader has disabled new member entry</li>
                        <li v-if="selectedParty.currentQuest">The party is currently running a quest</li>
                        <li v-if="selectedParty.members.length > 12">The party has the maximum number of members (12)</li>
                    </ul>
                </div>

                <div v-if="!userPartyId && !selectedParty.lock && !selectedParty.currentQuest && selectedParty.members.length < 12">
                    <button class='btn btn-mg btn-sm justify-content-center float-right join' @click="joinParty(selectedParty.id)">Join party</button>
                </div>
                <div v-if="userId == selectedParty.leader.osuId && selectedParty.members.length > 1">
                    <button class='btn btn-mg-used btn-sm justify-content-center float-right' @click="leaveParty(selectedParty.id)" disabled>Leave party</button>
                </div>
                <div v-if="userPartyId == selectedParty.id && selectedParty.members.length > 1 && userId != selectedParty.leader.osuId">
                    <button class='btn btn-mg-used btn-sm justify-content-center float-right' @click="leaveParty(selectedParty.id, $event)">Leave party</button>
                </div>
                <div v-if="userPartyId === selectedParty.id && selectedParty.members.length == 1">
                    <button class='btn btn-mg-used btn-sm justify-content-center float-right' @click="deleteParty($event)">Disband party</button>
                </div>

                <p class="mt-4 text-shadow">\{{ info }}</p>
            </div>
        </div>
    </div>
</div>

</div>