<div id="app">

<div class="row">
    <div class="col-md-12">
        <h2>Users listing</h2>
        <small>Sort: 
            <a :class="sortBy === 'username' ? 'sorted' : ''" href="#" @click.prevent="sort('username')">Name</a> | 
            <a :class="sortBy === 'rank' ? 'sorted' : ''" href="#" @click.prevent="sort('rank')">Rank</a> | 
            <a :class="sortBy === 'createdAt' ? 'sorted' : ''" href="#" @click.prevent="sort('createdAt')">Joined</a>
        </small>
        
        <transition-group name="list" tag="div" class="row">
            <div class='col-md-4 col-lg-3 my-2' v-for="user in users" :key="user.id">
                <div class="card custom-bg-dark" :class="'border-rank-' + user.rank" style="height: 100%"
                    :data-toggle='beatmaps ? "modal" : beatmaps' data-target='#extendedInfo' :data-user="user.osuId"
                    @click="extendedInfo(user)">
                    <div class='card-header'><a :href="'https://osu.ppy.sh/users/' + user.osuId"
                            class="text-shadow" target="_blank" @click.stop>\{{user.username}}</a> <span class="pseudo-float-right-avatar"><img
                                :src="'https://a.ppy.sh/' + user.osuId"
                                class="rounded-circle avatar-mini-thumb"></span></div>
                    <div class='card-body'>
                        <p class='card-text text-shadow'>Total: \{{user.totalPoints}}</p>
                        <p class='card-text text-shadow'>Party:
                            <span>\{{user.currentParty ? user.currentParty.name : 'none'}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </transition-group>
    </div>
</div>

<div id="extendedInfo" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content custom-bg-dark" v-if="selectedUser">
            <div class="modal-header text-dark" :class="'bg-rank-' + selectedUser.rank">
                <h5 class="modal-title">\{{selectedUser.username}}</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body" style="overflow: hidden">
                <img src="../images/the_A.png" class="the-a-background">
                <div class="row col-lg-12">
                    <table class="small table text-shadow col-md-6">
                        <thead>
                            <td scope="col" style="padding: 2px;">Task</td>
                            <td scope="col" style="padding: 2px;">Points</td>
                        </thead>
                        <transition-group tag="tbody" name="list">
                            <tr v-if="selectedUser.easyPoints">
                                <td scope="row" style="padding: 1px;" data-toggle="tooltip" data-placement="left"
                                    title="5 points per difficulty. +2 if quest mapset">Mapping <i
                                        class="easy">Easy</i> difficulties</td>
                                <td scope="row" style="padding: 1px;">\{{Math.round(selectedUser.easyPoints*10)/10}}
                                </td>
                            </tr>
                            <tr v-if="selectedUser.normalPoints">
                                <td scope="row" style="padding: 1px;" data-toggle="tooltip" data-placement="left"
                                    title="6 points per difficulty. +2 if quest mapset">Mapping <i
                                        class="normal">Normal</i> difficulties</td>
                                <td scope="row" style="padding: 1px;">
                                    \{{Math.round(selectedUser.normalPoints*10)/10}}</td>
                            </tr>
                            <tr v-if="selectedUser.hardPoints">
                                <td scope="row" style="padding: 1px;" data-toggle="tooltip" data-placement="left"
                                    title="7 points per difficulty. +2 if quest mapset">Mapping <i
                                        class="hard">Hard</i> difficulties</td>
                                <td scope="row" style="padding: 1px;">\{{Math.round(selectedUser.hardPoints*10)/10}}
                                </td>
                            </tr>
                            <tr v-if="selectedUser.insanePoints">
                                <td scope="row" style="padding: 1px;" data-toggle="tooltip" data-placement="left"
                                    title="8 points per difficulty. +2 if quest mapset">Mapping <i
                                        class="insane">Insane</i> difficulties</td>
                                <td scope="row" style="padding: 1px;">
                                    \{{Math.round(selectedUser.insanePoints*10)/10}}</td>
                            </tr>
                            <tr v-if="selectedUser.expertPoints">
                                <td scope="row" style="padding: 1px;" data-toggle="tooltip" data-placement="left"
                                    title="8 points per difficulty. +2 if quest mapset">Mapping <i
                                        class="expert">Expert</i> difficulties</td>
                                <td scope="row" style="padding: 1px;">
                                    \{{Math.round(selectedUser.expertPoints*10)/10}}</td>
                            </tr>
                            <tr v-if="selectedUser.storyboardPoints">
                                <td scope="row" style="padding: 1px;" data-toggle="tooltip" data-placement="left"
                                    title="10 points per storyboard. +2 if quest mapset">Creating storyboards</td>
                                <td scope="row" style="padding: 1px;">
                                    \{{Math.round(selectedUser.storyboardPoints*10)/10}}</ttdh>
                            </tr>
                            <tr v-if="selectedUser.questPoints">
                                <td scope="row" style="padding: 1px;" data-toggle="tooltip" data-placement="left"
                                    title="points reward varies between quests">Completing quests</td>
                                <td scope="row" style="padding: 1px;">
                                    \{{Math.round(selectedUser.questPoints*10)/10}}</td>
                            </tr>
                            <tr v-if="selectedUser.modPoints">
                                <td scope="row" style="padding: 1px;" data-toggle="tooltip" data-placement="left"
                                    title="2.5 points per mod">Modding mapsets</td>
                                <td scope="row" style="padding: 1px;">\{{Math.round(selectedUser.modPoints*10)/10}}
                                </td>
                            </tr>
                            <tr v-if="selectedUser.hostPoints">
                                <td scope="row" style="padding: 1px;" data-toggle="tooltip" data-placement="left"
                                    title="5 points per mapset hosted">Hosting mapsets</td>
                                <td scope="row" style="padding: 1px;">\{{Math.round(selectedUser.hostPoints*10)/10}}
                                </td>
                            </tr>
                            <tr v-if="selectedUser.penaltyPoints">
                                <td scope="row" style="padding: 1px;" data-toggle="tooltip" data-placement="left"
                                    title="penalty for dropping a quest. inverse of a quest's reward">Dropping
                                    quests</td>
                                <td scope="row" style="padding: 1px;">
                                    -\{{Math.round(selectedUser.penaltyPoints*10)/10}}</td>
                            </tr>
                            <tr>
                                <td scope="row" style="padding: 1px;" data-toggle="tooltip" data-placement="left"
                                    title="all points rewarded when map is ranked/quest is completed. collaborations split points">
                                    <i>Total points</i></td>
                                <td scope="row" style="padding: 1px;">\{{selectedUser.totalPoints}}</td>
                            </tr>
                        </transition-group>
                    </table>
                    <div class='col-md-6'>
                        <p class="text-shadow">Party:
                            <span v-if="selectedUser.currentParty">\{{selectedUser.currentParty.name}}</span>
                            <span v-else><i>none</i></span>
                        </p>
                        <p class="text-shadow" data-toggle="tooltip" data-placement="left" title="rank thresholds are 100, 250, and 500 points">
                            Rank: \{{selectedUser.rank}}
                        </p>
                        <p v-if="selectedUser.completedQuests" class="text-shadow">Completed Quests: </p>
                        <ul style="list-style-type: none;" id="questDetails">
                            <li class='ml-3 small text-shadow' v-for="quest in selectedUser.completedQuests" :key="quest.id">
                                \{{quest.name}}
                            </li>
                        </ul>
                    </div>
                </div>
                <hr>
                <p class="text-shadow">Mappers' Guild Maps:</p>
                <table class="small table text-shadow">
                    <thead>
                        <td scope="col" style="padding: 2px;">Mapset</td>
                        <td scope="col" style="padding: 2px;">Host</td>
                        <td scope="col" style="padding: 2px;">Status</td>
                        <td scope="col" style="padding: 2px;">Tasks</td>
                    </thead>
                    <transition-group tag="tbody" name="list">
                        <tr v-for="map in userMaps" :key="map.id">
                            <td scope="row" style="padding: 1px;">
                                <template v-if="map.url">
                                    <a :href="map.url" target="_blank">
                                        \{{map.song.artist}} - \{{map.song.title}}
                                    </a>
                                </template>
                                <template v-else>
                                    <span>\{{map.song.artist}} - \{{map.song.title}}</span>
                                </template>
                            </td>
                            <td scope="row" style="padding: 1px;">
                                <a :href="'https://osu.ppy.sh/users/' + map.host.osuId" target="_blank">
                                    \{{map.host.username}}
                                </a>
                            </td>
                            <td scope="row" style="padding: 1px;" :class="map.status.toLowerCase()">
                                \{{map.status}}
                            </td>
                            <td scope="row" style="padding: 1px;">
                                \{{userTasks(map)}}
                            </td>
                        </tr>
                    </transition-group>
                </table>
                <hr>
                <button 
                    v-if="selectedUser.osuId == userId"
                    class="btn btn-sm justify-content-center" 
                    :class="{ 'btn-mg': selectedUser.invites, 'btn-mg-used': !selectedUser.invites }" 
                    @click="switchInvites($event)"
                >
                    \{{selectedUser.invites ? 'Enable invites' : 'Disable invites'}}
                </button>
                <p class="text-shadow float-right">Joined: \{{selectedUser.createdAt.slice(0,10)}}</p>
            </div>
        </div>
    </div>
</div>

</div>
